<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="connStr" value="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"></add>
	</appSettings>
	<connectionStrings>
  <add name="Supermarket Management SystemConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString2" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SupplierConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MemberConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SMSCommoditySearchConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SMSSupplierListConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SMSSellListDataConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString3" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="gvBuyGoodsConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="GoodsInfoConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="GoodsProvidingConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="GoodsStockingConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="GoodsSellingConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SuppConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EmpConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="StockConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MembConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="goodsConnectionString" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString4" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString5" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString6" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString7" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString8" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString9" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString10" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString11" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Supermarket Management SystemConnectionString12" connectionString="Data Source=94FC70BEDD324B2;Initial Catalog=&quot;Supermarket Management System&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="Theme"/>
	</system.web>
</configuration>
